
<!-- forked from: https://codepen.io/cuonoj/pen/JjPmMaB -->
<section class="relative h-screen flex flex-col items-center justify-center text-center text-white ">
    <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
       <video class="min-w-full min-h-full absolute object-cover"
            [src]="imagenDecidida"
            type="video/mp4" autoplay muted loop></video>
    </div>
    <div class="video-content space-y-2 z-10">
        <div class="relative w-[950px]">
            <img src="/TarejaGonzalo.jpg" alt="Tarjeta Gonzalo"  class="w-full rounded-xl opacity-80">
            <img src="/pfp.png" alt="fotoPerfil" class="absolute bottom-4 right-4 w-60 h-65 rounded-full border-4 border-white shadow-lg">     
            <!-- 
                     absolute bottom-4 right-4 coloca la imagen en la esquina inferior derecha 
         w-20 h-20                   define ancho y alto (80px x 80px aprox)
         rounded-full                convierte la imagen en un círculo
         border-4 border-white       le agrega un borde blanco de 4px 
         shadow-lg                   le añade una sombra para destacarla 
            -->

     <!-- Contenedor de nombre + subtítulo -->
      <div class="absolute top-4 left-4 text-left"> <!-- Ponemos el texto a la izquierda-->
         <p class="font-black text-[80px] text-white drop-shadow-[2px_2px_4px_rgba(0,0,0,0.7)] animate-fade-in-scale">
         Gonzalo Sánchez-Ros Paz
  </p>

   <p class="mt-6 font-black text-[15px] text-white drop-shadow-[2px_2px_4px_rgba(0,0,0,0.7)] animate-fade-in-scale">
    Java Developer | Educational Game Programmer | IT Technician
  </p>
  
      </div>

      <div class="absolute bottom-1 left-1 flex gap-4">
        <a href="https://www.instagram.com" target="_blank">
        <img src="/instalogo.png" class="w-28 h-28 rounded-full border-4 border-white shadow-lg" alt="logo instagram"> </a>
        <a href="https://www.whatsapp.com" target="_blank">
        <img src="/logowhatsapp.png" class="w-28 h-28 rounded-full border-4 border-white shadow-lg" alt="logo whatsapp"> </a>
        <a href="https://www.linkdln.com" target="_blank">
        <img src="/logold.png" class="w-28 h-28 rounded-full border-4 border-white shadow-lg" alt="logo likedln"> </a>
        <a href="https://www.github.com" target="_blank">
        <img src="/gitlogo.png" class="w-28 h-28 rounded-full border-4 border-white shadow-lg object-contain" alt="logo github"> </a>

      </div>


        </div>
      
      <!--<h1 class="font-light text-6xl">Gonzalo Sánchez-Ros Paz</h1>
        <h3 class="font-light text-3xl">DESARROLLADOR JAVA | PROGRAMADOR DE
        VIDEOJUEGOSEDUCATIVOS|TÉCNICO EN INFORMÁTICA</h3> -->
        
    </div>
</section>


      



<style>

    @keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in-scale {
  animation: fadeInScale 1s ease-out forwards;
}

    .video-docker video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-docker::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }


</style>