<section class="bg-black bg-[url('/background01.png')] bg-cover ">
  
  <!-- 
  <div class="grid gap-4 py-4 px-4 mx-auto max-w-screen-xl 
              sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 lg:py-16 lg:px-6">


    <h2>
    </h2>

    <h2 class="text-[64px] sm:text-[34px] lg:text-[64px] 
           text-center font-extrabold uppercase tracking-wide 
           drop-shadow-lg">
  <span id="img-left" class="text-white opacity-0">Tools </span>
  <span id="img-right" class="text-yellow-400 opacity-0"> I Use</span>
  </h2>

  </div>
-->

  <!-- Divide esto en 2 columnas-->

  <div class="grid grid-cols-2 justify-items-center gap-3 py-4 px-4">

    <div class="self-start">

      <!-- Uso relative top para subir la imagen respetando los 2 divs-->
    <img class="rounded-3xl w-128 h-128 relative" src="/img01personal.jpg">
    </div>

    
    <div>

    <app-tools></app-tools>

    <!-- <app-skills></app-skills>  -->
    

    </div>

  </div>


</section>