
<section class="bg-black bg-[url('/background2.png')] bg-cover ">

<div class="grid grid-cols-2 justify-items-center gap-3 py-4 px-4">

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 text-center gap-6 py-6 px-6 w-full">

  <!-- Java -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="/java-logo.png" alt="Java" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">Java</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>

  <!-- Kotlin -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="/Kotlin_Icon.png" alt="Kotlin" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">Kotlin</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[85%]"></div>
    </div>
  </div>

  <!-- SQL -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="sql-database-generic.svg" alt="SQL" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">SQL</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>

  <!-- c# -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="c-4.svg" alt="c#" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">C#</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>

  <!-- Typescript -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/768px-Typescript_logo_2020.svg.png?20221110153201" alt="Figma" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">Typescript</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>

  <!-- JavaScript -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" alt="JavaScript" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">JavaScript</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>

  <!-- HTML -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="https://img.icons8.com/color/200/html-5.png" alt="HTML" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">HTML</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>

  <!-- Otra tarjeta de Spring Boot (si es necesario) -->
  <div class="bg-zinc-500 rounded-2xl p-8 flex flex-col items-center shadow-lg hover:scale-105 hover:shadow-yellow-400/30 transition duration-300">
    <div class="w-24 h-24 flex items-center justify-center bg-zinc-800 rounded-xl mb-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/1200px-CSS3_logo.svg.png" alt="CSS" class="w-16 h-16">
    </div>
    <h3 class="text-white text-lg font-semibold mb-4">CSS</h3>
    <div class="w-full bg-zinc-700 rounded-full h-2">
      <div class="bg-yellow-400 h-2 rounded-full w-[90%]"></div>
    </div>
  </div>
</div>

<div class="self-start">
  <img class="rounded-3xl" src="/foto-skills.jpg">
</div>
</div>
</section>